html, body {
  width: 100%;
}
#content {
  font-family: consolas, "courier new", monospace;
  margin: auto;
  max-width: 700px;
  border: 2px solid #8B8B81;
  border-radius: 12px;
  background-color: #F5F5F5;
  padding: 20px;
  text-align: left;
}
#output {
  white-space: pre;
}
#code_output {
 font-size: 85%; 
}
h1 {
  margin-top: 10px; 
}
h3 {
  margin-top: -8px; 
  margin-bottom: 2px; 
}
input[type=text] {
  width: 100%; 
}
input, textarea {
  width: 100%;
  padding: 4px 4px;
  margin: 6px 0;
  box-sizing: border-box;
}

input[type=submit] {
  width: 12em; 
  margin-top: 7px;
}
button {
  width: 30%;
  padding: 4px 4px;
  margin: 6px 0;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-bottom: 20px;
}
th, td {
  word-wrap: break-word;
}
tr:nth-child(even) {
  background: #F0F0F0;
}
.cell_right {
  text-align: right;
  white-space: pre;
}